<aside>
    <div class="sidebar-list">
        <div class="sidebar-list-item">
            <a routerLink="/dashboard/climate" routerLinkActive="active"></a>
            <h3>Sensor de clima</h3>
            <div class="variables">
                <div class="variable">
                    <img src="../../../../../assets/images/termometro.png" alt="Temperatura" >
                </div>
                <div class="variable">
                    <img src="../../../../../assets/images/humedad.png" alt="Humedad" >
                </div>
            </div>
        </div>
        <div class="sidebar-list-item">
            <a routerLink="/dashboard/atmosphere" routerLinkActive="active"></a>
            <h3>Sensor de Ambiente</h3>
            <div class="variables">
                <div class="variable">
                    <img src="../../../../../assets/images/ruido.png" alt="Nivel de ruido" >
                </div>
                <div class="variable">
                    <img src="../../../../../assets/images/al-aire-libre.png" alt="Calidad de aire" >

                </div>
            </div>
        </div>
        <div class="sidebar-list-item">
            <a routerLink="/dashboard/meteorological" routerLinkActive="active"></a>
            <h3>Sensor Meteorológico</h3>
            <div class="variables">
                <div class="variable">
                    <img src="../../../../../assets/images/atmospheric.png" alt="Presion atmosferica" >
                </div>
                <div class="variable">
                    <img src="../../../../../assets/images/viento.png" alt="Velocidad del viento" >
                </div>
            </div>
        </div>
    </div>
</aside>